<div class="classrooms">
<% if @classrooms.any? %>
  <h1>Your classrooms</h1>
  <%= link_to 'Add Classroom', new_classroom_path, :class => 'btn' %>
  <% @classrooms.each do |classroom| %>
  <div class="classroom">
    <h3><%= link_to classroom.classroom_name, classroom %></h3>
    <%= link_to 'Edit', edit_classroom_path(classroom) %>
    </div>
  <% end %>
  </div>
<% else %>
  <h2>You haven't added any classrooms yet.<br />Create your first classroom now:</h2><br />
<%= render 'classrooms/form' %>
<% end %>

