<p id="notice"><%= notice %></p>

<h2><%= @classroom.classroom_name %></h2>
<%= link_to 'Add students', new_classroom_student_path(@classroom) %>
<div class="students">
<% @students.each do |student| %>
<div class="student">
  <%= student.student_full_name %>
<% end %>
</div>
</div>
