/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$baseFontFamily: Lucida Grande, Lucida Sans, Lucida Sans Unicode;
$linkColor: #277c5b;
@import "bootstrap";

body {
	background: url('chalkboard-light.jpg') repeat-x;
	background-color: #F0F0F0;
}

.content {
	margin-top: 200px;
}

h1 {
	paddding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header {
	width: 100%;
	padding-top: 40px;
	margin-bottom: 20px;
}

.brand img {
	width: 150px;
	height: 40px;
	float: left;
	margin-right: 50px;
}

.nav {
	display: inline;
}

.nav a {
	color: #fff;
	font-size: 16px;
}

.nav li a:hover {
	color: #666;
}

.nav-pills .active > a, .nav-pills .active > a:hover {
	color: #666;
	background-color: #eee;
}

.nav-pills:after {
	clear: none;
}

